<div class="field-unit__label">
  <%= f.label field.attribute, "ジャンル" %>
</div>
<div class="field-unit__field">
  <%= f.select field.attribute,
      options_for_select(Restaurant::GENRES, f.object.genre),
      { include_blank: '選択してください' },
      class: "field-unit__input form-control" %>
</div>
