- content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) }

- breadcrumb :admin_supply_stock, page.resource

/ Content Header
.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        h1.m-0 在庫詳細
      .col-sm-6
        ol.breadcrumb.float-sm-right
          = breadcrumbs separator: " / ", autoroot: false

= content_for(:header_middle)

/ Main content
.container-fluid
  .row
    .col-12
      .card
        .card-header
          h3.card-title 在庫情報
          .card-tools
            = link_to "備品移動登録", new_admin_bulk_supply_movement_path, class: "btn btn-primary btn-sm mr-1"
            = link_to "戻る", admin_supply_stocks_path, class: "btn btn-secondary btn-sm"

        = content_for(:header_last)

        .card-body
          - page.attributes.each do |title, attributes|
            - if title.present?
              h5.mt-3.mb-3 = t "helpers.label.#{page.resource_name}.#{title}", default: title

            dl.row
              - attributes.each do |attribute|
                dt.col-sm-3 id=attribute.name
                  = t("helpers.label.#{resource_name}.#{attribute.name}", default: page.resource.class.human_attribute_name(attribute.name))
                dd.col-sm-9
                  = render_field attribute, page: page

            - unless title == page.attributes.keys.last
              hr

      / 備品移動履歴
      .card.mt-3
        .card-header
          h3.card-title 備品移動履歴
        .card-body.p-0
          - if @movements&.any?
            table.table.table-striped.table-hover.mb-0
              thead
                tr
                  th 日付
                  th 種別
                  th 数量
                  th 移動元
                  th 移動先
                  th 備考
              tbody
                - @movements.each do |movement|
                  tr
                    td = l(movement.movement_date, format: :long)
                    td
                      - case movement.movement_type
                      - when '入荷'
                        span.badge.badge-success = movement.movement_type
                      - when '消費'
                        span.badge.badge-danger = movement.movement_type
                      - when '移動'
                        span.badge.badge-info = movement.movement_type
                      - else
                        span.badge.badge-secondary = movement.movement_type
                    td.text-right
                      strong = movement.quantity
                      = " "
                      = page.resource.supply.unit
                    td
                      - if movement.from_location
                        = movement.from_location.name
                      - else
                        span.text-muted -
                    td
                      - if movement.to_location
                        = movement.to_location.name
                      - else
                        span.text-muted -
                    td
                      = movement.notes.present? ? movement.notes : '-'
          - else
            .p-4.text-center.text-muted
              | 移動履歴がありません
