/
  Navigation - AdminLTE Sidebar with Dropdown Menu

  カスタムナビゲーション - ドロップダウンメニュー形式

aside.main-sidebar.sidebar-dark-primary.elevation-4
  / Brand Logo
  .brand-link
    a.brand-logo-link href=admin_own_locations_path
      span.brand-text.font-weight-light みんなの社食
    a.pushmenu-btn href="#" role="button"
      i.fas.fa-bars

  / Sidebar
  .sidebar
    / User Panel
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        - if current_admin_user&.photo&.attached?
          = image_tag current_admin_user.photo, class: "img-circle elevation-2", alt: "User Image", style: "width: 40px; height: 40px; object-fit: cover;"
        - else
          i.far.fa-user-circle.user-icon
      .info
        = link_to edit_admin_user_registration_path, class: "d-block user-link" do
          - if current_admin_user
            = current_admin_user&.name || current_admin_user&.email

    / Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column data-widget="treeview" role="menu" data-accordion="false"

        / 企業管理
        li.nav-item.has-treeview id="menu-companies"
          a.nav-link href="#"
            i.nav-icon.fas.fa-building
            p
              | 企業管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_own_locations_path, class: "nav-link #{nav_link_state(:own_locations) == 'active' ? 'active' : ''}" do
                p 自社拠点
            li.nav-item
              = link_to admin_companies_path, class: "nav-link #{nav_link_state(:companies) == 'active' ? 'active' : ''}" do
                p 導入企業
            li.nav-item
              = link_to admin_restaurants_path, class: "nav-link #{nav_link_state(:restaurants) == 'active' ? 'active' : ''}" do
                p 飲食店
            li.nav-item
              = link_to admin_delivery_companies_path, class: "nav-link #{nav_link_state(:delivery_companies) == 'active' ? 'active' : ''}" do
                p 配送会社

        / メニュー管理
        li.nav-item.has-treeview id="menu-menus"
          a.nav-link href="#"
            i.nav-icon.fas.fa-book
            p
              | メニュー管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_menus_path, class: "nav-link #{nav_link_state(:menus) == 'active' ? 'active' : ''}" do
                p メニュー

        / 案件管理
        li.nav-item.has-treeview id="menu-orders"
          a.nav-link href="#"
            i.nav-icon.fas.fa-file-alt
            p
              | 案件管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_orders_path, class: "nav-link #{nav_link_state(:orders) == 'active' ? 'active' : ''}" do
                p 案件
            li.nav-item
              = link_to admin_recurring_orders_path, class: "nav-link #{nav_link_state(:recurring_orders) == 'active' ? 'active' : ''}" do
                p 定期案件
            li.nav-item
              = link_to calendar_admin_orders_path, class: "nav-link" do
                p カレンダー
            li.nav-item
              = link_to admin_delivery_sheet_items_path, class: "nav-link #{nav_link_state(:delivery_sheet_items) == 'active' ? 'active' : ''}" do
                p 配送シート明細
            li.nav-item
              = link_to admin_delivery_plans_path, class: "nav-link #{nav_link_state(:delivery_plans) == 'active' ? 'active' : ''}" do
                p 配送計画

        / 経理管理
        li.nav-item.has-treeview id="menu-accounting"
          a.nav-link href="#"
            i.nav-icon.fas.fa-file-invoice-dollar
            p
              | 経理管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_invoices_path, class: "nav-link #{nav_link_state(:invoices) == 'active' ? 'active' : ''}" do
                p 請求書

        / 備品管理
        li.nav-item.has-treeview id="menu-supplies"
          a.nav-link href="#"
            i.nav-icon.fas.fa-boxes
            p
              | 備品管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_supplies_path, class: "nav-link #{nav_link_state(:supplies) == 'active' ? 'active' : ''}" do
                p 備品
            li.nav-item
              = link_to admin_supply_movements_path, class: "nav-link #{nav_link_state(:supply_movements) == 'active' ? 'active' : ''}" do
                p 備品移動登録
            li.nav-item
              = link_to admin_supply_inventories_path, class: "nav-link #{nav_link_state(:supply_inventories) == 'active' ? 'active' : ''}" do
                p 棚卸し
            li.nav-item
              = link_to admin_supply_forecasts_path, class: "nav-link #{nav_link_state(:supply_forecasts) == 'active' ? 'active' : ''}" do
                p 在庫予測

        / システム管理
        li.nav-item.has-treeview id="menu-system"
          a.nav-link href="#"
            i.nav-icon.fas.fa-user-shield
            p
              | システム管理
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              = link_to admin_admin_users_path, class: "nav-link #{nav_link_state(:admin_users) == 'active' ? 'active' : ''}" do
                p 社内ユーザー一覧
