- content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) }

- breadcrumb "admin_#{page.resource_name}".to_sym, page.resource

/ Content Header
.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        h1.m-0
          = page.page_title
          |  の編集
      .col-sm-6
        ol.breadcrumb.float-sm-right
          = breadcrumbs separator: " / ", autoroot: false

= content_for(:header_middle)

/ Main content
.container-fluid
  .row
    .col-12
      .card
        .card-header
          h3.card-title 編集フォーム
          .card-tools
            - if accessible_action?(page.resource, :show)
              = link_to "詳細", [namespace, page.resource], class: "btn btn-info btn-sm"

        = content_for(:header_last)

        = content_for(:before_main)

        - if content_for?(:main)
          = content_for(:main)
        - else
          .card-body
            = render "form", page: page

        = content_for(:after_main)
