- content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) }

- breadcrumb :admin_supply, page.resource

/ Content Header
.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        h1.m-0 = page.page_title
      .col-sm-6
        ol.breadcrumb.float-sm-right
          = breadcrumbs separator: " / ", autoroot: false

= content_for(:header_middle)

/ Main content
.container-fluid
  .row
    / 備品情報カード
    .col-md-12
      .card
        .card-header
          h3.card-title 備品情報
          .card-tools
            = link_to "備品移動登録", new_admin_bulk_supply_movement_path, class: "btn btn-primary btn-sm mr-1"
            - if accessible_action?(page.resource, :edit)
              = link_to "編集", [:edit, namespace, page.resource], class: "btn btn-info btn-sm mr-1"
            - if accessible_action?(page.resource, :destroy)
              = button_to "削除", [namespace, page.resource], class: "btn btn-danger btn-sm", method: :delete, data: { turbo_confirm: t("administrate.actions.confirm") }

        .card-body
          - page.attributes.each do |title, attributes|
            - if title.present?
              h5.mt-3.mb-3 = t "helpers.label.#{page.resource_name}.#{title}", default: title

            dl.row
              - attributes.each do |attribute|
                dt.col-sm-3 id=attribute.name
                  = t("helpers.label.#{resource_name}.#{attribute.name}", default: page.resource.class.human_attribute_name(attribute.name))
                dd.col-sm-9
                  = render_field attribute, page: page

            - unless title == page.attributes.keys.last
              hr

    / 拠点別在庫カード
    .col-md-12
      .card
        .card-header
          h3.card-title 拠点別在庫

        .card-body.p-0
          - stocks = page.resource.supply_stocks.order(:location_type, :location_id)

          - if stocks.any?
            table.table.table-striped.table-hover
              thead
                tr
                  th 拠点区分
                  th 拠点名
                  th.text-right 在庫数
                  th.text-right 実地棚卸数
                  th 最終更新
                  th.text-center 操作
              tbody
                - stocks.each do |stock|
                  tr
                    td = stock.location_type_japanese
                    td = stock.location_display_name
                    td.text-right
                      strong = stock.quantity
                      = " "
                      = stock.supply.unit
                    td.text-right
                      - if stock.physical_count
                        = stock.physical_count
                        = " "
                        = stock.supply.unit
                      - else
                        | -
                    td
                      - if stock.last_updated_at
                        = l(stock.last_updated_at, format: :long)
                      - else
                        | -
                    td.text-center
                      = link_to "詳細", admin_supply_stock_path(stock), class: "btn btn-sm btn-outline-info"
          - else
            p.p-4.text-center.text-muted 在庫データがありません
