.card
  .card-header
    h3.card-title メニュー情報

  = form_for([namespace, page.resource], html: { class: "form" }) do |f|
    .card-body
      - if page.resource.errors.any?
        .alert.alert-danger.alert-dismissible
          button.close type="button" data-dismiss="alert" aria-hidden="true" ×
          h5
            i.icon.fas.fa-ban
            |  エラーがあります
          ul.mb-0
            - page.resource.errors.full_messages.each do |message|
              li = message

      - page.attributes(controller.action_name).each do |title, attributes|
        - attributes.each do |attribute|
          .form-group
            = f.label attribute.name, class: "font-weight-bold" do
              = t("helpers.label.#{f.object_name}.#{attribute.name}", default: page.resource.class.human_attribute_name(attribute.name))
              - if attribute.required?
                span.text-danger *

            - if attribute.attribute == :photo
              = f.file_field attribute.name, class: "form-control-file", accept: "image/*"
              - if f.object.photo.attached?
                .mt-2
                  = image_tag f.object.photo, style: "max-width: 200px; max-height: 200px;"
            - elsif attribute.attribute == :description
              = f.text_area attribute.name, rows: 4, class: "form-control", placeholder: t("helpers.placeholder.#{f.object_name}.#{attribute.name}", default: "")
            - elsif attribute.attribute == :restaurant
              = f.collection_select attribute.name, Restaurant.all, :id, :name, { prompt: "選択してください" }, { class: "form-control" }
            - elsif attribute.attribute == :is_active
              .custom-control.custom-checkbox
                = f.check_box attribute.name, class: "custom-control-input", id: "menu_is_active"
                = f.label attribute.name, "有効", class: "custom-control-label", for: "menu_is_active"
            - elsif attribute.attribute == :price_per_meal
              = f.number_field attribute.name, class: "form-control", step: 1, placeholder: t("helpers.placeholder.#{f.object_name}.#{attribute.name}", default: "")
            - elsif attribute.attribute == :tax_rate
              = f.select attribute.name, options_for_select(Menu::TAX_RATE_OPTIONS, f.object.tax_rate), {}, { class: "form-control" }
            - else
              = f.text_field attribute.name, class: "form-control", placeholder: t("helpers.placeholder.#{f.object_name}.#{attribute.name}", default: "")

            - if attribute.name == :photo
              small.form-text.text-muted
                | JPG、PNG、GIF形式の画像ファイルをアップロードできます

    .card-footer
      = f.submit class: "btn btn-primary btn-sm mr-2"
      = link_to "キャンセル", :back, class: "btn btn-secondary btn-sm"
