<% content_for(:title) do %>
  メニュー編集
<% end %>

<% breadcrumb :admin_menu, page.resource %>

<!-- Content Header -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">メニュー編集</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <%= breadcrumbs separator: " / ", autoroot: false %>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= render "form", page: page %>
    </div>
  </div>
</div>
